$theme: (
		bg:					#FAFAFA	,
		bg-alt:		  #454547,
		fg:					rgba(255,255,255,0.55),
		fg-bold:		rgba(241, 13, 113, 1),
		fg-light:			rgba(241, 13, 113, 0.9),
		fg-dark:      	#333,
		border:				rgba(241, 13, 113, 0.15),
		border-bg:			rgba(255,255,255,0.05),
		accent1:				#1C599B,
		accent1-alt:		#222,
		accent2:			#DF86A3,
		accent2-alt:		darken(#5052b5, 10),
		accent3:			#FAFAFA,
		accent3-alt:		darken(#b74e91, 10)
);


.microsite {
    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        color:  map-get($theme, 'fg-bold');
        display: flex;
        flex-direction: row;
        background: map-get($theme, 'bg');
        padding-top: 15px;
        padding-bottom: 15px;
        justify-content: space-around;
        align-items: center;
        border-bottom: 2px solid map-get($theme, 'fg-light');

        @include breakpoint(small) {
            padding-top: 15px;
            padding-bottom: 15px;
            border-bottom: 2px solid map-get($theme, 'border');
        }

        a:hover {
            color:  map-get($theme, 'fg-bold');
            text-decoration: underline;
        }

        .logo {
            width: 230px;
            height: 64px;

            @include breakpoint(small) {
                display: none;
            }
        }
    }

    .flat-hero {
        margin: 50px auto 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include breakpoint(small) {
            border-bottom: 2px solid map-get($theme, 'border');
            margin-top: 25px;
        }

    .title {
        color:  map-get($theme, 'fg-bold');
        text-align: center;
    }

    .subtitle {
        color:  map-get($theme, 'fg-light');
        text-align: center;
        font-size: 1.5em;

        @include breakpoint(small) {
            font-size: 1.2em;
        }
    }

    .figure {
        width: 30%;
        margin-bottom: 3em;
        margin-top: 1em;

        @include breakpoint(small) {
            width: 70%;
            margin-bottom: 0.8em;
            margin-top: 0.8em;

        }
    }


    .cta {
        background-color: #f10d71;
        color: #FAFAFA !important;
        margin-bottom: 5em;
        font-size:1em;

        @include breakpoint(small) {
          margin-bottom: 2em;
          font-size: .8em;
        }
    }
    }

.segment {
    .title {
            width: 100%;
            background-color: #454547;
            padding: 0.4em 0.4em .4em 1em;
            text-align: center;
            &--right {
                width: 100%;
                background-color: #454547;
                padding: 0.4em 0.4em .4em 1em;
                // margin-left: 20%;
                text-align: center;
                @include breakpoint(small) {
                    width: 100%;
                    margin: 0;
                }

            }
            @include breakpoint(small) {
                width: 100%;
                padding: 0.4em 0.4em .4em 1em;
            }
    }


    .subtitle {
        color:  map-get($theme, 'fg-light');
        text-align: center;
        font-size: 1.5em;

        @include breakpoint(small) {
            font-size: 1.2em;
        }
    }


    .infographic {
        width: 60%;
        margin-bottom: 3em;
        margin-top: 3em;

        @include breakpoint(small) {
            width: 100%;
        }
    }
}

.contact {
    margin-bottom: 55px;

        .title {
            text-align: center;
            padding: 0.4em 0.4em .4em 1em;
            border-top: 2px solid map-get($theme, 'fg-bold');
            border-bottom: 2px solid map-get($theme, 'fg-bold');
            color:  #FAFAFA;
            background-color: map-get($theme, 'fg-bold');
            @include breakpoint(small) {
            color:  #FAFAFA;
            background-color: map-get($theme, 'fg-bold');
            }
        }

        .networks {
            margin-top: 55px;
            list-style: none;
            display: flex;
            justify-content: space-evenly;
            @include breakpoint(small) {
                display: block;
            }
        }

        .social {
            color:  map-get($theme, 'bg-alt');
            font-size: 1.8em;
            align-content: center;
            display: inline-block;

            @include breakpoint(small) {
                display: block;
            }
            span {
                color: map-get($theme, 'fg-bold');
            }
            a:hover {
                text-decoration: underline;
                color: map-get($theme, 'fg-bold');
            }
        }
    }
}


.document {
    background-color: #f10d71;
    color: #FAFAFA !important;
    margin-bottom: 2em;
    font-size:0.7em;

    @include breakpoint(small) {
        margin-bottom: 1em;
        font-size: .6em;
    }
}
